mixin item_cost(cost)
  if cost > 1000
    span #{cost.toString().replace(/(.*)(...)/, "$1,$2")} gp
  else if cost > 0
    span #{cost} gp
  else if cost < 0
    span #{cost / 100} sp

mixin magic_item_table(bonuses, costs, notes)
  table.magic_items
    thead
      tr
        each b in bonuses
          if b > 0
            th.magic_items_bonus +#{b}
          else if b < 0
            th -#{b}
          else
            th #{b}
    tbody
      tr
        each c in costs
          td.magic_items_cost
            mixin item_cost(c)
        if notes
          td!= notes

mixin magic_item_table_vertical(bonuses, costs, notes, header)
  table.magic_items
    if header
      thead
        tr
          th Bonus
          th Cost
          th Notes
    tbody
      each b, i in bonuses
        tr
          if b > 0
            td.magic_items_bonus +#{b}
          else if b < 0
            td -#{b}
          else
            td #{b}
          td.magic_items_cost
            mixin item_cost(costs[i])
          td.magic_items_note!= notes[i]


mixin menu_vertical(menu_items, pathname)
  each item in menu_items
    if pathname !== item.url
      h2 <a href='#{item.url}'>#{item.title}</a>
    else
      h2.menu_selected #{item.title}

    if(item.children)
      mixin menu_vertical_children(item.children, pathname)

mixin menu_vertical_children(children, pathnam)
  ul
    each child in children
      if pathname !== child.url
        li <a href='#{child.url}'>#{child.title}</a>
      else
        li.menu_selected #{child.title}

      if(child.children)
        mixin menu_vertical_children(child.children, pathname)

mixin menu_mobile(menu_items, pathname)
  - var matched = false

  .mobile_menu_parent
    - each item, i in menu_items
      - if(i !== 0)
        &nbsp;&#124;&nbsp;
      - if(item.url != pathname)
        span <a href='#{item.url}' class='mobile_menu'>#{item.title}</a>
      - else
        span.mobile_menu_selected #{item.title}
        - matched = item

  // Check for possible children
  - if(matched && matched.children)
    .mobile_sub_menu_parent
      - each child, j in matched.children
        - if(j !== 0)
          &nbsp;&#124;&nbsp;
        span <a href='#{child.url}' class="mobile_sub_menu">#{child.title}</a>


